body {
  background: black;
}

canvas {
  float: left;
  background: white;
}

#ui {
  float: right;
  color: white;
}

#ui textarea {
  margin-bottom: 12px;
  display: block;
  height: 10em;
  width: 300px;
}
