body {
}

canvas {
  float: left;
  background: #CCC;
}

#ui {
  float: right;
  margin: 0;
  padding: 0;
}

#ui textarea {
  margin-bottom: 12px;
  display: block;
  height: 10em;
  width: 600px;
}

#play-control a {
  color: black;
}

.function-button {
  display: inline-block;
  margin-right: 12px;
}
