body {
}

canvas {
  float: left;
  background: #CCC;
}

#ui {
  float: right;
  margin: 0;
  padding: 0;
  width: 400px;
}

#ui textarea {
  margin-bottom: 12px;
  display: block;
  height: 10em;
  width: 100%;
}

#ui a {
  color: black;
  margin: 0 2px 2px 0;
  display: inline-block;
  border: 1px solid #888;
  line-height: 18px;
  font-size: 14px;
  font-color: white;
  background: #CCC;
  box-shadow: 0px 1px 1px white inset, 2px 2px 0px -1px black;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  padding: 0 2px;
}

#ui a:hover {
  background: #EEE;
}

#ui a:active {
  position: relative;
  top: 1px;
  box-shadow: 0px 1px 1px white inset, 2px 1px 0px -1px black;
}
